<section>
    <h1>Habilidades</h1>
    <table class="table table-dark align-middle" >
     <thead>
       <tr>
         <th scope="col">Grupo</th>
         <th scope="col">Nombre</th>
         <th scope="col">Categoría</th>
         <th scope="col">Nivel</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <th scope="row" rowspan="3">Backend</th>
         <td><img src="../../../assets/nodejs.png" alt="Logo Nodejs" width="50" height="50"> Node</td>
         <td>Framework</td>
         <td><span class="badge text-bg-light">Básico</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/springboot.png" alt="Logo Spring Boot" width="50" height="50"> Spring Boot</td>
         <td>Framework</td>
         <td><span class="badge text-bg-light">Básico</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/java.png" alt="Logo Java" width="50" height="50"> Java</td>
         <td>Language</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <th scope="row" rowspan="2">Database</th>
         <td><img src="../../../assets/mysql.png" alt="Logo MySQL" width="50" height="50"> MySQL</td>
         <td>RDBMS</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/mongodb.png" alt="Logo MongoDB" width="50" height="50"> MongoDB</td>
         <td>NoSQL</td>
         <td><span class="badge text-bg-light">Básico</span></td>
       </tr>
       <tr>
         <th scope="row" rowspan="6">Frontend</th>
         <td><img src="../../../assets/html5.png" alt="Logo HTML5" width="50" height="50"> HTML5</td>
         <td>Language</td>
         <td><span class="badge text-bg-success">Avanzado</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/css.png" alt="Logo CSS" width="50" height="50"> CSS</td>
         <td>Language</td>
         <td><span class="badge text-bg-success">Avanzado</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/javascript.png" alt="Logo JavaScript" width="50" height="50"> JavaScript</td>
         <td>Language</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/typescript.png" alt="Logo JavaScript" width="50" height="50"> TypeScript</td>
         <td>Language</td>
         <td><span class="badge text-bg-light">Básico</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/bootstrap.png" alt="Logo Bootstrap" width="50" height="50"> Bootstrap</td>
         <td>Library
         </td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/angular.png" alt="Logo Angular" width="50" height="50"> Angular</td>
         <td>Framework</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <th scope="row" rowspan="8">Soft Skills</th>
         <td><img src="../../../assets/comunicacion.png" alt="Logo Comunicación" width="50" height="50"> Comunicación</td>
         <td>Relaciones interpersonales</td>
         <td><span class="badge text-bg-success">Avanzado</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/innovacion.png" alt="Logo Innovación" width="50" height="50"> Innovación</td>
         <td>Creatividad</td>
         <td><span class="badge text-bg-light">Básico</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/resoluciondeproblemas.png" alt="Logo Resolución de problemas" width="50" height="50"> Resolución de problemas</td>
         <td>Proactividad</td>
         <td><span class="badge text-bg-success">Avanzado</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/pensamientocritico.png" alt="Logo Pensamiento crítico" width="50" height="50"> Pensamiento crítico</td>
         <td>Análisis lógico</td>
         <td><span class="badge text-bg-success">Avanzado</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/responsabilidad.jpg" alt="Logo Responsabilidad" width="50" height="50"> Responsabilidad</td>
         <td>Ética de trabajo</td>
         <td><span class="badge text-bg-success">Avanzado</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/trabajoenequipo2.png" class="mb-0 opacity-75" alt="Logo Trabajo en equipo" width="50" height="50"> Trabajo en equipo</td>
         <td>Colaboración</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/flexibilidad2.png" alt="Logo Flexibilidad" width="50" height="50"> Flexibilidad</td>
         <td>Adaptabilidad</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/scrum.png" alt="Logo Scrum" width="50" height="50"> SCRUM</td>
         <td>Gestión del tiempo</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <th scope="row" rowspan="5">Tools</th>
         <td><img src="../../../assets/git.png" alt="Logo Git" width="50" height="50"> Git</td>
         <td>Tools</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/github.png" alt="Logo GitHub" width="50" height="50"> GitHub</td>
         <td>Tools</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/postman.png" alt="Logo Postman" width="50" height="50"> Postman</td>
         <td>Tools</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/visualstudiocode.png" alt="Logo Visual Studio Code" width="50" height="50"> Visual Studio Code</td>
         <td>IDE</td>
         <td><span class="badge text-bg-warning">Intermedio</span></td>
       </tr>
       <tr>
         <td><img src="../../../assets/apache.png" alt="Logo Apache NetBeans" width="50" height="50"> Apache NetBeans</td>
         <td>IDE</td>
         <td><span class="badge text-bg-light">Básico</span></td>
       </tr>
     </tbody>
   </table>
 </section>
