<div class="container" *ngIf="educacion">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="educacion.titulo" required>
                </div>
                <div class="form-group">
                    <label for="institucion">Institución educativa</label>
                    <input type="text" class="form-control" id="institucion" name="institucion" [(ngModel)]="educacion.institucion" required>
                </div>
                <div class="form-group">
                    <label for="promedio">Promedio</label>
                    <input type="text" class="form-control" id="promedio" name="promedio" [(ngModel)]="educacion.promedio" required>
                </div>
                <div class="form-group">
                    <label for="periodo">Período</label>
                    <input type="text" class="form-control" id="periodo" name="periodo" [(ngModel)]="educacion.periodo" required>
                </div>
                <button class="btn btn-primary">
                    Editar educación
                </button>
            </form>
        </div>
    </div>
</div>
