<section>
<div class="list-group w-auto">
    <h1>
      Información general
    </h1>
    <div class="list-group-item list-group-item-action d-flex text-bg-dark gap-3 py-3">
      <img src="../../../assets/fotocarnet.jpeg" alt="Foto de perfil" width="100" height="100">
      <div class="d-flex gap-2 w-100 justify-content-between">
         <div>
            <h2 class="mb-0">Maximiliano Javier Olmos Salazar</h2>
            <p class="mb-0 opacity-75">Desarrollador Web Full-Stack</p>
            <p class="mb-0 opacity-75">Contador Público</p>
            <p class="mb-0 opacity-75">Río Cuarto, Córdoba (Argentina)</p>
         </div>
      </div>
    </div >
</div>
</section>